.container-img-os{
  width: 8rem;
  height: 8rem;
}
.container-img-os > picture > img,
.container-img-os > picture > source {
  object-fit: contain;
  width: 100%;
  height: 100%;

  overflow: hidden;
}
.button-downloads{
  margin-top: 1rem;
}